# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/bin/main/qr/code/GenerateQRCode.class
app/bin/main/qr/code/QRCode.class
app/bin/main/qr/code/GenerateQRCode.class
